<%= form_for(resource, as: resource_name, data: { turbo: false }, url: registration_path(resource_name)) do |f| %>
  <div class="blue-navbar">
    <%= link_to image_tag("/assets/arrow-left.png"), root_path, class: "arrow-back"%>
    <p>REGISTER</p>
    <%= f.submit "Next", class: "borderless-bttn"  %>
  </div>
  <div class="field width-100">
    <%= f.text_field :name, autocomplete: "username", placeholder: "Name", required: true, class: "form-input" %>
  </div>

  <div class="field width-100">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: true, class: "form-input" %>
  </div>

  <div class="field width-100">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", required: true, class: "form-input"%>
  </div>

  <div class="field width-100">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", required: true, class: "form-input" %>
  </div>
<% end %>
<%= render "devise/shared/error_messages", resource: resource %>