<%= link_to "/categories/#{category.id}" do %>
<div id="<%= dom_id category %>" class="category-container">
  <div class="flex-row justify-content-between category-item text-color">
    <div class="flex-row">
        <p>
          <%= image_tag "#{category.icon}" %>
        </p>
      <p class="title-category">
        <%= category.name %>
      </p>
    </div>
    <p>
      <%= '$140' %>
    </p>
  </div>
</div>
<% end %>
