<div class="blue-navbar">
    <%= link_to image_tag("/assets/arrow-left.png"), root_path, class: "arrow-back"%>
    <p>TRANSACTIONS</p>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %>
</div>
<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
<p style="color: green"><%= notice %></p>
