<div class="blue-navbar">
    <%= link_to image_tag("/assets/arrow-left.png"), root_path, class: "arrow-back"%>
    <p>Categories</p>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout", data: { turbo: false } %>
</div>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>

    </p>
  <% end %>
</div>
<div class="add-new-pos">
  <%= link_to "New category", new_category_path, :class => 'add-new-bttn' %>
</div>
<p style="color: green"><%= notice %></p>
